## Intro to print statements

In Python, the print statement is used to output text to the screen. Python's print statement is a function that outputs information to the console (or wherever standard output is directed). The print function takes a variety of different arguments, which allows you to control how the information is printed and formatted. 

The print statement can take multiple arguments, which will be printed to the screen separated by spaces.

Here is a simple example of how to use the print statement:

In [1]:
print("Hello, world!")

Hello, world!

You can also use the print statement to print variables:

In [2]:
name = "John"

print("Hello, ", name)

Hello,  John

## What are Conditional Statements

* Decision-making is as important in any programming language as it is in life.
* Decision-making in a programming language is automated using conditional statements, in which Python evaluates the code to see if it meets the specified conditions.
* The conditions are evaluated and processed as true or false.
* If this is found to be true, the program is run as needed. If the condition is found to be false, the statement following the If condition is executed.

### Python has various conditional statements that are used in decision-making:-

#### 1.) If-Statement
* The If statement is the most fundamental decision-making statement, in which the code is executed based on whether it meets the specified condition.
* It has a code body that only executes if the condition in the if statement is true. The statement can be a single line or a block of code.

##### example - 1

In [ ]:
num = 5
if num > 0:
    print(num, "is a positive number.")
print("This statement is true.")

5 is a positive number.
This statement is true.

##### example - 2

In [ ]:
a = 25
b = 170
if b > a:
  print("b is greater than a")
#output : b is greater than a

b is greater than a

##### Task

* Take two numbers as input and determine which one of the two numbers is larger than the other?
* Write a code to check whether a number is negative, positive or zero.

In [1]:
a = int(input())
b = int(input())
if a > b:
    print('a is greater')
if a < b:
    print('b is greater')
if a == b:
    print('a equal to b')

12
3
a is greater

In [2]:
a = int(input())
if a > 0:
    print('Positive number')
if a < 0:
    print('Negative number')
if a == 0:
    print('Zero')

-4
Negative number

#### 2.) If-Else Statement

* This statement is used when both the true and false parts of a given condition are specified to be executed. 
* When the condition is true, the statement inside the if block is executed; 
* if the condition is false, the statement outside the if block is executed.

#### example

In [ ]:
num = 5
if num >= 0:
    print("Positive or Zero")
else:
     print("Negative number")
### output : Positive or Zero

Positive or Zero

#### Task:

* Take a = 33, b = 33 and then compare using the if- else statement

In [3]:
a = 33
b = 33
if a < b:
    print('a is less than b')
else:
    print('a is greater than or equal to b')

a is greater than or equal to b

###### 3.) If…Elif..else Statement

* In this case, the If condition is evaluated first. 
* If it is false, the Elif statement will be executed;
* if it also comes false, the Else statement will be executed.

#### example

In [ ]:
num = 7
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")
#output:  Positive number

Positive number

#### Task

* Take an input,check whether it is less than, equal to or greater than 0.

In [4]:
a = int(input())
if a > 0:
    print('Positive number')
elif a < 0:
    print('Negative number')
else:
    print('Zero')

0
Zero

#### 4.) Nested-If statement

* A Nested IF statement is one in which an If statement is nestled inside another If statement. 
* This is used when a variable must be processed more than once.
* If, If-else, and If…elif…else statements can be used in the program.
* In Nested If statements, the indentation (whitespace at the beginning) to determine the scope of each statement should take precedence.

#### example

In [ ]:
num = 8
if num >= 0:
    if num == 0:
        print("zero")
    else:
        print("Positive number")
else:
    print("Negative number")
#output: Positive number

Positive number

#### Task

* Take x=10,check whether it is greater than/less than 10 & 20 using nested if statements.

In [5]:
x = 10
if x > 10:
    if x < 20:
        print('x is greater than 10 and less than 20')
    else:
        print('x is greater than 10 and greater than or equal to 20')
else:
    print('x is less than or equal to 10 and less than 20')

x is less than or equal to 10 and less than 20

### LOOPS

* In a programming language, a loop is a statement that contains instructions that continually repeats until a certain condition is reached.
* Loops help us remove the redundancy of code when a task has to be repeated several times. 
* With the use of loops, we can cut short those hundred lines of code to a few. 
* Suppose you want to print the text “Hello, World!” 10 times. 
* Rather than writing a print statement 10 times, you can make use of loops by indicating the number of repetitions needed.

### While Loop

* It continually executes the statements(code) as long as the given condition is TRUE. 
* It first checks the condition and then jumps into the instructions.

In [ ]:
num_of_times = 1

while num_of_times <= 5:
    print("Hello, World!")
    num_of_times += 1

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

##### Task

*  Create a list of all the even numbers between 1 and 10

In [6]:
even = []
n = 1
while n < 11:
    if n%2 == 0:
        even.append(n)
    n += 1
print(even)

[2, 4, 6, 8, 10]

### For Loop

* A for loop is used to iterate over a sequence like lists, type, dictionaries, sets, or even strings.
* Loop statements will be executed for each item of the sequence.

#### example: Create a list of all the even numbers between 1 and 10

In [ ]:
even_nums = []
for i in range(1, 11):
    if i % 2 == 0:
        even_nums.append(i)
print("Even Numbers: ", even_nums)

Even Numbers:  [2, 4, 6, 8, 10]

#### Task

* Create a list and display all the items of it using a for loop

In [1]:
lst = [2, 4, 6, 8]

for l in lst:
    print(l)

2
4
6
8

# List



*   What is list?
*   How to create list?
*   Indexing in list

## What is list?

List is a sequence of values of any type.

Values in the list are called elements / items. 

List is enclosed in square brackets. You can see in the cell below, how does a list looks like:

In [ ]:
#  create a list named odd_numbers and store odd numbers till 10 in it.
odd_numbers = [1, 3, 5, 7, 9]

Just like to print a list, you just need to put list name in side the paranthesis of `print` function.

In [ ]:
# print odd_number list
print(odd_numbers)

[1, 3, 5, 7, 9]

List can have more than one type too. In the cell below, list has value of 4 different data types:
*   String - `'One'`
*   Integer - `2`
*   Float - `3.0`
*   Boolean - `True`

In [ ]:
# create a list of various type of values
random_list = ['One', 2, 3.0, True]

# print the random_list
print(random_list)

['One', 2, 3.0, True]

### Create an empty list

As it's name suggests, empty list contains no elements.


To create a list, just like variables, write list name on the left, values on the right wrapped in square brackets. Since, it's an empty list it does not have any elements, hence leave the square brackets empty.

Syntax:
 
```
  empty_list = []
```

### Example

In [ ]:
# create an empty list and name it "names" and then print "names" list

names = []

print(names)

[]

### Create a list

To create a list, just like variables, write list name on the left, values on the right wrapped in square brackets. Unlike, empty list you can provide elements in square bracket, which you wish to add in the list.

  Syntax to create a list from given elements.
```
  list_name = [element_1, element_2, element_3, ..., element_N]
```

### Example

In [ ]:
# Create a list of countried you have visited and name it as "countries_visited" and print the list.

countries_visited = ["China", "Singapore", "Australia", "UK", "Canada"]

print(countries_visited)

['China', 'Singapore', 'Australia', 'UK', 'Canada']

## Indexing in list

Index means place of an element or item in the list. Indexing is very useful when you wish to access only certain elements from the list. In the list below, you can see that we've created a list called `avengers`. Along with list, index is also shown to demonstrate how indexing works in Python.

Note: While creating a list, you don't need to write index for list, it's automatically done by Python.

```
avengers= [“Captain America”, “Iron Man”, “Hulk”, “Hawk Eye”, “Thor”]

index              0              1         2         3          4
```

In Python, we start counting from 0. Hence, index of Captain America would be 0 and index of Iron Man would be 1 and so on.

### Example

1. Create a list of avengers and add your favorite avengers in it.

In [ ]:
# create a list of avengers
avengers= ["Wanda", "Iron Man", "Falcon", "Hawk Eye", "Hulk"]

### Accessing element using index

Syntax to access an element from list at given index.
```
  list_name[index]
```

### Example

Print `Captain America` from avengers list using indexing.

In [ ]:
# print "Captain America" from avengers list using index

print(avengers[0])

Wanda

In [ ]:
# print an element at index 3 from avengers list

print(avengers[3])

Hawk Eye

### Extra

Indexing can also be used to access elements and save it as a variable.

In [ ]:
vis = avengers[0]

print(vis)

Wanda

### Update element using index

Sometimes we want to update only specific element in list, using indexing you can achieve that. Let's see how to do that. 

Syntax 
```
  list_name[index] = new_value
```

### Example

1. In avengers list, update `Hawk Eye` to `Spider Man`.

In [ ]:
# create a list of avengers
avengers= ["Wanda", "Iron Man", "Falcon", "Hawk Eye", "Hulk"]

# print avengers list
print(avengers)

['Wanda', 'Iron Man', 'Falcon', 'Hawk Eye', 'Hulk']

In order to update the element, we need to find the index of the element `Thor`. 

Index of `Thor` is 4, hence we need to update the element at index 4, and new element will be `Spider Man`. As per the syntax, first comes list name which is `avengers` followed by square brackets in which you need to enter the index at which you want to update the element. After the equals sign, enter new element which is `Spider Man`.

In [ ]:
# in avengers list, update Thor with Spider Man using indexing
avengers[3] = "Spider Man"

Now let's checkout the updated list.

In [ ]:
# print avengers list
print(avengers)

['Wanda', 'Iron Man', 'Falcon', 'Spider Man', 'Hulk']

Can you see the different between old list and updated list?


4th element of the list is changed to "Spider Man". If you run old list cell again, it'll print updated list only, because we updated the list and saved it in the memory.

# **Introduction to Tuples**

#### **In this part, the topics covered are:**

1. What are tuples?
2. Why are they used?
3. How to create a tuple?
4. Tuple length
5. Accessing tuple items (Indexing and Slicing)
6. Add and remove tuple items

## What are Tuples?

* Tuples are another very popular in-built data structure in Python. These are quite similar to Lists except for one difference – they are immutable. This means that once a tuple is generated, no value can be added, deleted, or edited.

## Why are they used?

* Using tuples we can store multiple items/elements (even of different data types) in a single variable. Compared to lists, tuples have a smaller size which makes it a bit faster.

## How to create a tuple?

* We can create a tuple by putting all the values in parentheses ( ) and seperate them using commas as shown below:

variable_name = (element1, element2, ..., elementn)

Let's go through some examples of tuples.

## **Tuple containing elements of the same datatype**

In [ ]:
# This tuple contains integer values

tuple1 = (8,2,13)
print(tuple1)

(8, 2, 13)

In [ ]:
# This tuple contains string values

tuple2 = ('bat','ball', 'stumps', 'umpire')
print(tuple2)

('bat', 'ball', 'stumps', 'umpire')

## **Tuple containing elements of different datatypes**

In [ ]:
# Tuple containing elements of multiple datatypes

tuple3 = ('Rahul', 'Rai', 1999, 23.42 )
print(tuple3)

('Rahul', 'Rai', 1999, 23.42)

# Tuple length
To check the number of elements a tuple contains, we can use the len( ) function.

In [ ]:
tuple5 = ('tap','pot','water','fish')
print(len(tuple5))

4

## **Task 1: Create a tuple with elements of your choice and find the length**

In [2]:
# Your code here

tup1 = ('Harry', 'Ron', 'Hermoine')
print(len(tup1))

3

# Accessing items in a tuple (Indexing and Slicing)

### Indexing

**Indexing** means referring to an element of an iterable by its position within the iterable.

Again, the concept is very simple! Let's look at examples to understand it better.

```
animal_tuple = ('Lion', 'Elephant', 'Tiger', 'Monkey', 'Gorilla')

index            0         1          2         3         4
```

**Index in python starts with 0**

The syntax for this is:
```
name_of_the_tuple_variable[index]
```
So, let's say you want to get the element named **Monkey** from the tuple mentioned above, what you would do is:

Look at the index position of the desired element (in our case Monkey is at index **3**)

Now let us follow the syntax and run the code to get the desired element:

In [ ]:
animal_tuple = ('Lion', 'Elephant', 'Tiger', 'Monkey', 'Gorilla')
print(animal_tuple[3])

Monkey

We can also use negative indexing in which counting starts from the right. The rightmost item has an index value of [-1], the second from the right has index value of [-2] and so on.

In [ ]:
# If we want to print the 3rd item from the right, we will use a negative index of -3
print(animal_tuple[-3])

Tiger

## **Task 2: Write a code to get the element named 'Pizza' using positive indexing and 'Burger' using negative indexing**

In [3]:
food_tuple = ('Burger', 'Noodles', 'Pizza', 'Coke')

# Your code here

print(food_tuple[2])
print(food_tuple[-4])

Pizza
Burger

## **Slicing**


**Slicing** means getting a subset of elements from an iterable based on their indices.

The syntax for slicing is [start:end:step]

Let's focus on start and end for now [start:end]. We can either use both the values or any single one of them.

If we use [x:] then it will let us access items from the index value x

In [ ]:
# Over here we are printing values starting from the index value 2

car_tuple = ('Honda','BMW','Audi','Ferrari','Volkswagen','Ford','Mercedes','Aston Martin')
print(car_tuple[2:])

('Audi', 'Ferrari', 'Volkswagen', 'Ford', 'Mercedes', 'Aston Martin')

If we use [:x] then it will let us access items present before the index value x

In [ ]:
# Over here we are printing values that are present before the index value 2

print(car_tuple[:2])

('Honda', 'BMW')

If we don't specify the start or the end then it will give us all the elements

In [ ]:
print(car_tuple[:])

('Honda', 'BMW', 'Audi', 'Ferrari', 'Volkswagen', 'Ford', 'Mercedes', 'Aston Martin')

We can also access items between two indexes values as follows:

In [ ]:
# This will print the values starting from the index 2 till the index 5 (item in the 5th index will not be printed)

print(car_tuple[2:5])

('Audi', 'Ferrari', 'Volkswagen')

## **Task 3: Write a code to get the elements 'Volkswagen', 'Ford' and 'Mercedes'**

In [4]:
car_tuple = ('Honda','BMW','Audi','Ferrari','Volkswagen','Ford','Mercedes','Aston Martin')

# Your code here

print(car_tuple[4:7])

('Volkswagen', 'Ford', 'Mercedes')

Negative index values can also be used over here as shown below:

In [ ]:
# This will print 3 elements from the right side

print(car_tuple[-3:])

('Ford', 'Mercedes', 'Aston Martin')

## **Task 4: Write a code to get the first 4 elements (from the left) in the tuple using negative indexing**

In [5]:
car_tuple = ('Honda','BMW','Audi','Ferrari','Volkswagen','Ford','Mercedes','Aston Martin')

# Your code here

print(car_tuple[-8:-4])

('Honda', 'BMW', 'Audi', 'Ferrari')

Now that we have learnt start and end, let's use the step value.

```
car_tuple = ('Honda','BMW','Audi','Ferrari','Volkswagen','Ford','Mercedes','Aston Martin')
index            0     1     2        3          4          5       6             7
```

A step value of x will skip over x-1 elements


We had earlier seen that if we do not specify start and end, then we will get all the elements present in the tuple. Now if we use the step value:

In [ ]:
print(car_tuple[::3])

('Honda', 'Ferrari', 'Mercedes')

When we used a step value of 3, after printing the first element (Honda), every third element gets printed.

Let us now use all the values:

In [ ]:
print(car_tuple[1:6:2])

('BMW', 'Ferrari', 'Ford')

## **Adding or removing items**

As mentioned above, once we have created a tuple, we cannot change, add or remove items. However, to change the tuple values, we can convert a tuple into a list, carry out the required modifications and convert it back into a tuple.

Let's add an item to a tuple:

In [ ]:
colour_tuple = ('Red','Blue','Green','Yellow')

# Converting tuple to list
colour_list = list(colour_tuple)

# Adding item
colour_list.append('Brown')

# Converting list back to tuple
colour_tuple = tuple(colour_list)

print(colour_tuple)

('Red', 'Blue', 'Green', 'Yellow', 'Brown')

Now, let's remove an item, for example Green which has an index value 2

In [ ]:
# Converting tuple to list
colour_list = list(colour_tuple)

# Removing item
colour_list.pop(2)

# Converting list back to tuple
colour_tuple = tuple(colour_list)

print(colour_tuple)

('Red', 'Blue', 'Yellow', 'Brown')

## **Task 5: Write a code to add two cities to the tuple given below**

In [6]:
city_tuple = ('Delhi','Mumbai','Chennai','Hyderabad')

# Your code here

city_list = list(city_tuple)
city_list.extend(['Ahmedabad', 'Kharagpur'])

city_tuple = tuple(city_list)
print(city_tuple)

('Delhi', 'Mumbai', 'Chennai', 'Hyderabad', 'Ahmedabad', 'Kharagpur')

## What are functions?

#### **In this part, the topics covered are:**

1. What are function?
2. Why are they used?
3. Defining Functions
4. Function with parameters


## What are functions?
A function is a block of code that takes one or more input values and produces an output value. 
Functions are used to modularize code so that it is easier to read and maintain. Functions can also be reused, which saves time and makes code more reliable.

## Why are they used?
Python functions are used to modularize code and make it more readable. Functions can take arguments and return values, which makes them more flexible than other code structures like loops and if-statements. Functions can also be defined in other files and imported into the current file, which makes code reuse easier.

## Defining Functions
Functions are defined by **def** keyword in python. Functions in python return the result of the operation we perform inside the function. For example, if we want to do addition, the return value would be the sum of numbers.

Let us look at an example.

In [ ]:
# Let us define function
def addition():
    a = 3
    b = 4
    c = a+b
    return c

# We are calling the function
sum = addition()
print(sum)

7

In the above cell, *addition* is the name of function. This function is used to add two numbers and return the results. 

If we look at the return value of fuction, it returns **c**, and **c** is the sum of two numbers **a** and **b**. 

Suppose, you want to do addition 1000 times in your program, you can keep calling the function numerous times and it will give you addition of numbers.

The example we saw above, was *function without parameters*. Now, what are parameters and where do we use them?

## Function with parameters

Let's say you want to add 2 numbers in your program for 100 times. And during each addition, we have 2 unique number, for example first time you want to add 2 and 3, then 4 and 5 then 7 and 10 and so on. What then? So, we provide parameters to our function. Let us understand by an example.

In [ ]:
# defining function with parameters
def addition_parameters(number1, number2):
    c = number1 + number2
    return c

# calling function and passing parameters
sum_new = addition_parameters(5,4)
print(sum_new)

sum_new1 = addition_parameters(10,14)
print(sum_new1)

sum_new2 = addition_parameters(101,88)
print(sum_new2)

9
24
189

If you watch closely, after defining our function named **addition_parameters** we write **number1 and number2**. These are the parameters that we pass to our function.

Similarly, since the value of these parameters is not defined, while calling the function, we pass the values. So if you see the variable **sum_new**, we can see we pass 5 and 4. So, python understands that number1 is 5 and number2 is 4, hence we get the sum as 9 in our first output. 


We can vary the number of parameters to any number we want, let's make a function with 5 parameters to do some basic operations.

##### example - 1

In [ ]:
def operations(parameter1,parameter2,parameter3, parameter4,parameter5):
    c = parameter1 + parameter2 * parameter3 - parameter4 + parameter5
    return c

result = operations(1,2,3,4,5)
print(result)

8

As you can see, we passed 5 parameters and did some operation which had addition, subtraction and multiplication all together! 


#### Challenge task 
***Define a function named "my_function", which takes 3 parameters. Multiply all these parameters, return the value and print it. Call the function 2 times and pass different value of parameters each time.***

In [7]:
def my_function(num1, num2, num3):
    return num1*num2*num3
res1 = my_function(2, 4, 6)
res2 = my_function(1, 3, 5)
print(res1)
print(res2)

48
15

## Lambda Functions

#### **In this part, the topics covered are:**

1. What are lambda functions?
2. Why are they used?
3. Defining Lambda Functions
4. Lambda Function with parameters

## What are lambda functions?
We use the keyword **lambda** to declare an anonymous function. These functions do not have a name. A lambda function looks different from a function that is declared using the keyword **def** but they behave in the same manner.

## Why are they used?
We use **lambda** functions when we need a function for a short period of time. This makes it efficient and there is no need to declare a name for the function. If we use a function that is declared by def then it will stay and occupy space in the memory.

Lambda functions are usually used when we want to pass a function as an parameter to a higher-order function.

## Defining Lambda Functions

Like we had *def* while defining functions, we have *lambda* while we define lambda functions.

##### example - 1

In [ ]:
addition = lambda num_1, num_2, num_3, num_4 : num_1 + num_2 + num_3 + num_4
print(addition(22,331,1,3))

357

If you look carefully, we follow a similar approach, we define the functions, keep some parameters and have a value.

The major difference is, we don't have to return the value, it gets saved in the variable directly, in the example above, everything got stored into **addition**

Let us look at one more lambda function that calculates exponential of two numbers.

In [ ]:
exponential = lambda num1, num2 : num1 ** num2
print(exponential(2.2, 3.1))

11.521534126785717

#### Challenge task 
***Define a lamba function with variable name "operations", give 4 parameters and perform any addition, substraction, multiplication, division operations.***

In [8]:
operations = lambda num1, num2, num3, num4: num1+num2*num3/num4
print(operations(1, 2, 3, 4))

2.5

## Introduction to Python Packages

#### **In this part, the topics covered are:**

1. What are python packages?
2. How are they useful and make code efficient?

## What are python packages?
Python packages are collections of modules that you can import into your Python scripts. Packages provide a way to structure our code in a better way and keep it efficient. Packages also help us save a lot of time, we can use existing packages and get our work done quickly rather than writing everything from scratch. 

We use packages because they allow us to modularize our code. That is, we can break our code up into smaller pieces that are easier to understand and maintain. Additionally, packages make it easy to reuse code that we have already written. Finally, packages allow us to share our code with others.

Let us understand it with a package named Numpy. Our task is to create a python array(which is similar to lists that you studied in previous part of notebook), which has 100 elements, all with a value of 1.

In [ ]:
# Method 1: array1 = [1,1,1,1,1,...1]  You manually type 1 for 100 times

# Method 2: 
array1 = []
for i in range(1,101):
    array1.append(1)
print(array1)
print(len(array1))

# Method 3: Using Python Packages

import numpy as np
array2 = np.ones(100)
print(array2)
print(len(array2))

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
100
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1.]
100

## How are they useful and make code efficient?

Did you just see that?

We defined 3 methods to solve our task, and when we used python package named numpy, we literally did our job in one line! Cool, isn't it? 

Let's see what exactly happened. So the package we used here was **Numpy**, there is a module in numpy called **ones()** which helps us generate array with 1 in it, so we directly used **ones()** and mentioned 100 as our parameter, which gave a resultant array with 100 1s in it.

Observe how tedious it would be to do this manually. This is just one of the many things that we could do in a very efficient way. 

You would be dealing with more such modules in your Bootcamp sessions, so keep observing how our job is made because of these packages. A few popular names that you would come accross is Pandas, Numpy, OpenCV, NLTK, Matplotlib, Tensorflow etc. 


#### Challenge task 
***Try importing Pandas and NLTK and use any module from these packages.***

In [11]:
!pip install --upgrade pip

Requirement already satisfied: pip in ./lib/python3.9/site-packages (22.3)
Collecting pip
  Downloading pip-22.3.1-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 8.3 MB/s eta 0:00:0000:0100:01m
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3
    Uninstalling pip-22.3:
      Successfully uninstalled pip-22.3
Successfully installed pip-22.3.1

In [12]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 8.5 MB/s eta 0:00:0000:01:00:01
Collecting click
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.6/96.6 kB 3.1 MB/s eta 0:00:00
Collecting tqdm
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.5/78.5 kB 2.5 MB/s eta 0:00:00
Collecting regex>=2021.8.3
  Downloading regex-2022.10.31-cp39-cp39-macosx_10_9_x86_64.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.9/293.9 kB 4.3 MB/s eta 0:00:00a 0:00:01
Collecting joblib
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 5.2 MB/s eta 0:00:0000:01
Installing collected packages: tqdm, regex, joblib, click, nltk
Successfully installed click-8.1.3 joblib-1.2.0 nltk-3.7 regex-2022.10.31 tqdm-4.64.1

In [13]:
!pip install --upgrade nltk

Requirement already satisfied: nltk in ./lib/python3.9/site-packages (3.7)
Requirement already satisfied: joblib in ./lib/python3.9/site-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in ./lib/python3.9/site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in ./lib/python3.9/site-packages (from nltk) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in ./lib/python3.9/site-packages (from nltk) (2022.10.31)

In [14]:
import pandas as pd
import nltk